/* @import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap");
 */
:root {
  --headerLetra: #ececec;
  --fondoHeader: #1991eb;
  --fondoSecundario: #003145;
  --fondoContenido: #f7f4f2;
  --fondoBotones: #ecd871;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--fondoContenido);
}

header {
  background-color: var(--fondoHeader);
  display: flex;
  justify-content: space-evenly;
}
header a {
  color: var(--headerLetra);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400px;
}


.container_Derecha {
    width: 60%;
    display: flex;
  }
  
  .logo img {
    width: 30%;
    max-width: 250px;
    min-width: 80px;
  }
  .home {
    display: flex;
    align-items: center;
  }
  .home img {
    width: 50px;
  }

  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
  }
  .servicios{
    background-color: rgb(231, 168, 51);
    width: 90%;
    border-radius: 40px 10px;
    box-shadow: 0 10px 30px 0 rgba(30, 143, 255, 0.632);
}
.servicios ul {
    margin: 10px 10px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    border-radius: 40px 10px;
    
    
}

.servicios a{
    text-decoration-line: none; 
    color: white;
    margin-left: 2rem;
    padding: .5rem 5rem ;
    border-radius: 40px 10px;
   
    text-align: center;
/*     border-radius: 5px;
 */    

}


.servicios li :hover{
    background-color: dodgerblue;
    animation-delay: 10ms;
    border-radius: 40px 10px;
   transition: background-color .5s;
}
  
  .menu {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu a {
    text-decoration: none;
    padding: 10px;
  }
  
  .menu a :hover {
    background-color: deepskyblue;
    animation-delay: 10ms;
    border-radius: 10px;
    transition: background-color 0.9s;
  }
  
  .menu li,
  ul {
    display: flex;
    list-style: none;
    padding: 8px;
  }

  h1{
      text-align: center;
      padding: 1rem;
      font-family: Oswald, sans-serif;
  }

  section{
    margin: 1rem;
    padding: 1.3rem;
  }
  


 /*  .galeria{

  } */
  .galeria img{
    border-radius: 5px;
    box-shadow: 0 1px 20px 0 rgba(88, 81, 81, 0.313);
    padding: 0rem;
    margin: 10px;
    width: 30%;opacity: 1;
    height: 30vh;
  
  }

  .image:hover  {
    opacity: 0.3;
  }

  .informacion{
    text-align: center;
    margin: 30px;
  }

  .informacion a{
    background-color: var(--fondoBotones);
    padding: 1rem;
    color: var(--fondoSecundario);
    text-decoration: none;
  }

  .informacion a:hover{
    opacity: 0.5;
  }


  .LOL{
    width: 50%;
    height: 400px;
    background-image: url(../img/fiesta1.jpg) ;

  }

  @media only screen and (max-width: 700px) {
    .imagenes img {
      width: 100%;
    }
    .servicios a{
     
      padding: 0px;
 
  
  }
  }